<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
     <title>Site</title>
    {% endblock %}
    <link rel="stylesheet" href=" {% static 'css/base.css' %} ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Django</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href=" {% url 'usermodel:index_page' %} ">Home</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item active">
                <a href=" {% url 'usermodel:registration_page' %} " class="nav-link">Register</a>
            </li>
            {% endif %}
            {% if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href=" {% url 'admin:index' %} ">Admin</a>
              </li>
            {% endif %}
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a href=" {% url 'usermodel:logout_page' %} " class="nav-link">Logout</a>
              </li>

            {% else %}
            <li class="nav-item">
              <a href=" {% url 'usermodel:login_page' %} " class="nav-link">Login</a>
            </li>
            {% endif %}
            
            <li class="nav-item">
              <a href=" {% url 'usermodel:post_page' %} " class="nav-link">Posts</a>
            </li>

            <li class="nav-item">Browsing as : {{request.user}} </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <span><small>Doesn't work    </small></span> 
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    {% block content %}
     {% if user.is_authenticated %}
     <h1>Welcome back {{user.username}} </h1>
     {% else %}
     <h1>Please log in</h1>
     {% endif %}
    {% endblock %}
    <footer>
      <p style = 'font-size: 12px; background-color: gray; color: white; text-align: center; position: fixed; bottom: 0; width: 100%;'>abidindrd 2020</p>
    </footer>
</body>
</html>