{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron">
        <h2>Please login here :)</h2>
        <form action= " {% url 'usermodel:login_page' %} " method = 'POST'>
            {% csrf_token %}

            <label for="username">Username: </label>
            <input type="text" name = 'username' placeholder="Enter your username">

            <label for="password">Password: </label>
            <input type="password" name = 'password'>

            <input type="submit" value = 'Login'>

        </form>
    </div>
{% endblock %}