.container {
  width: 1153px;
  height: auto;
  padding: 30px;
  border: 3px solid var(--border-color);
}

.container form {
  margin: 20px 0px 0px 25px;
}

.container form input,
select,
option,
textarea {
  display: block;
  width: 280px;
  margin-bottom: 10px;
}

.container form input,
select,
option {
  display: block;
  width: 280px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 18px;
}

.container form h3 {
  border-bottom: 2px solid var(--border-color);
  margin-bottom: 15px;
}

#done {
  background-color: var(--button-green);
  border: none;
  color: #fff;
  font-size: 20px;
}
